#fadein {
	position: relative;
	width: 100%;
	height: 100vh;
	top: 0;
	background-color: black;
}
.slider-fade {
	width: 100%;
	height: 100%;
	top:0;
	position:absolute;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
    background-attachment: fixed;
}
#fade1 {
	background-image: url(../images/bg1-1.jpg);
}
#fade2 {
	background-image: url(../images/bg2-1.jpg);
}
#fade3 {
	background-image: url(../images/bg3-1.jpg);
}
@media screen and (max-width: 1020px) {
	.slider-fade {
		background-size: auto 100%;
	}
	#fade1 {
		background-image: url(../images/bg1M.jpg);
	}
	#fade2 {
		background-image: url(../images/bg2M.jpg);
	}
	#fade3 {
		background-image: url(../images/bg3M.jpg);
	}
}